#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.vue-js-switch#changed-font {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 95px;
  width: 190px;
}

.v--modal-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.paramethers-wrapper {
  border: 1px solid black;
  width: 385x;
  margin-top: 3px;
  margin-left: 10px;
  padding: 10px 10px 5px;
  float: left;
}

.paramethers-wrapper label {
  width: 275px;
}

.paramethers-wrapper input[type='number'] {
  width: 70px;
}

.start-simulation {
  position: relative;
  top: 15px;
  left: 98px;
  float: left;
}

.loading-spinner {
  position: relative;
  left: 310px;
  top: 20px;
}

.my-table {
  margin-right: 40px;
  width: 600px;
  float: right;
  /* margin-top: 32px; */
}

.my-table th span {
  font-size: 0.94rem;
}

.my-table caption {
  margin: 0 auto;
  color: black;
}

.my-table input[type='number'] {
  width: 90px;
}