#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.vue-js-switch#changed-font {
  font-size: 20px;
  margin-left: 30px;
}

.intensities-table {
  clear: both;
}

.intensities-table th {
  text-align: center;
}