#map {
    width: 700px;
    height: 450px;
    /* float: left; */
  }

.map-container {
  float: left;
}

  .v--modal-overlay {
    background: transparent;
  }

/* .intensity-modal-form {
  width: 100px;
  height: 100px;
} */